<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Coffee Shop</title>
    <link rel="stylesheet" href="../css/user_dashboard.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="../js/user_dashboard.js"></script>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-brand">Coffee Shop</div>
        <ul class="navbar-links">
            <li><a href="#produk" onclick="showSection('produk')">Produk</a></li>
            <li><a href="#keranjang" onclick="showSection('keranjang')">Keranjang</a></li>
            <li><a href="#sales" onclick="showSection('Sales')">Sales</a></li>
        </ul>
    </nav>

    <!-- Navbar Header (Mobile) -->
    <div class="mobile-header">
        <div class="mobile-header-title">Coffee Shop</div>
    </div>
    <!-- Navbar (Mobile) -->
    <div class="mobile-navigasi">
        <div class="mobile-navigasi-item" onclick="showSection('produk')">
            <a href="#produk">
                <i class="bx bxs-coffee"></i>
            </a>
        </div>
        <div class="mobile-navigasi-item" onclick="showSection('keranjang')">
            <a href="#keranjang">
                <i class='bx bxs-cart'></i>
            </a>
        </div>
        <div class="mobile-navigasi-item" onclick="showSection('sales')">
            <a href="#sales">
                <i class='bx bxs-bar-chart-alt-2'></i>
            </a>
        </div>
    </div>

    <!-- Section Placeholder -->
    <section id="produk" style="display: block;">
        <div class="product-buttons">
            <button onclick="showProductCategory('drink')">Drink</button>
            <button onclick="showProductCategory('food')">Food</button>
        </div>

        <div id="drink" class="product-category" style="display: block;">
            <h3>Drink</h3>
            <ul>
                <li>Espresso - Rp 30.000</li>
                <li>Latte - Rp 40.000</li>
                <li>Cappuccino - Rp 45.000</li>
                <li>Americano - Rp 35.000</li>
            </ul>
        </div>

        <div id="food" class="product-category" style="display: none;">
            <h3>Food</h3>
            <ul>
                <li>Croissant - Rp 20.000</li>
                <li>Muffin - Rp 25.000</li>
                <li>Bagel - Rp 15.000</li>
                <li>Sandwich - Rp 35.000</li>
            </ul>
        </div>
    </section>
    <section id="keranjang" style="height: 500px; background-color: #ddd; display: none;">Keranjang Section</section>
    <section id="sales" style="height: 500px; background-color: #bbb; display: none;">Penjualan Section</section>
</body>
</html>
